@model SalesSystem.Utilities.Vehicle

@{
    ViewData["Title"] = "Nuevo Vehículo";
}

<h1>Nuevo Vehículo</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" value="0" hidden/>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modelo</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mark" class="control-label">Marca</label>
                <select name="Mark" class="form-control" required>
                    <option value="AlfaRomeo">Alfa Romeo</option>
                    <option value="AstonMartin">Aston Martin</option>
                    <option value="Audi">Audi</option>

                    <option value="Autovaz">Autovaz</option>
                    <option value="Bentley">Bentley</option>
                    <option value="BMW">BMW</option>
                    <option value="Cadillac">Cadillac</option>

                    <option value="Caterham">Caterham</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Chrysler">Chrysler</option>
                    <option value="Citroen">Citroen</option>

                    <option value="Daihatsu">Daihatsu</option>
                    <option value="Dodge">Dodge</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="Fiat">Fiat</option>

                    <option value="Ford">Ford</option>
                    <option value="Honda">Honda</option>
                    <option value="Hummer">Hummer</option>
                    <option value="Hyundai">Hyundai</option>

                    <option value="Isuzu">Isuzu</option>
                    <option value="Jaguar">Jaguar</option>
                    <option value="Jeep">Jeep</option>
                    <option value="Kia">Kia</option>

                    <option value="Lamborghini">Lamborghini</option>
                    <option value="Lancia">Lancia</option>
                    <option value="LandRover">Land Rover</option>
                    <option value="Lexus">Lexus</option>

                    <option value="Lotus">Lotus</option>
                    <option value="Maserati">Maserati</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedes Benz">Mercedes Benz</option>

                    <option value="MG">MG</option>
                    <option value="Mini">Mini</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Morgan">Morgan</option>

                    <option value="Nissan">Nissan</option>
                    <option value="Opel">Opel</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Porsche">Porsche</option>

                    <option value="Renault">Renault</option>
                    <option value="RollsRoyce">Rolls Royce</option>
                    <option value="Rover">Rover</option>
                    <option value="Saab">Saab</option>

                    <option value="Seat">Seat</option>
                    <option value="Skoda">Skoda</option>
                    <option value="Smart">Smart</option>
                    <option value="Ssangyong">Ssangyong</option>

                    <option value="Subaru">Subaru</option>
                    <option value="Suzuki">Suzuki</option>
                    <option value="Tata">Tata</option>
                    <option value="Toyota">Toyota</option>

                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Volvo">Volvo</option>
                </select>
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="control-label">A&ntilde;o</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Passenger" class="control-label">Pasajeros</label>
                <input asp-for="Passenger" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tire" class="control-label">Llantas</label>
                <input asp-for="Tire" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fuel" class="control-label">Combustible</label>
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tank" class="control-label">Deposito</label>
                <input asp-for="Tank" class="form-control" /> Litros
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label">Tipo</label>
                <select asp-for="Type" class="form-control" required>
                    <option value="1">SUV</option>
                    <option value="2">Sed&aacute;n</option>
                    <option value="3">4x4</option>
                    <option value="4">Autob&uacute;s</option>
                    <option value="5">PickUp</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Count" class="control-label">Cantidad</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Precio</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryBy" class="control-label">Registrado por</label>
                <select name="EnterBy" asp-for="EntryBy" class="form-control">
                    <option value="1">Karla Espinoza</option>
                    <option value="2">Andrey Arguedas</option>
                    <option value="3">Mario Mora</option>
                    <option value="4">Gabriela Perez</option>
                </select>
                <span asp-validation-for="EntryBy" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <button type="submit" class="btn btn-primary">Guardar <i class="fa-regular fa-floppy-disk"></i></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="VehicleController" asp-action="Index">Veh&iacute;culos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
