@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Venta de Vehiculos</h1>
    <h1 class="display-4">Inicio</h1>

    <a asp-controller="Client" asp-action="Create" class="btn effect01 m-2"><i class="fa-solid fa-user-plus"></i> Nuevo Cliente</a>
    <a asp-controller="Vehicle" asp-action="Create" class="btn effect01 m-2"><i class="fa-solid fa-car-rear"></i> Nuevo Veh&iacute;culo</a>
    <a asp-controller="Sales" asp-action="Create" class="btn effect01 m-2"><i class="fa-solid fa-truck-pickup"></i> Facturaci&oacute;n</a>
    <a asp-controller="Sales" asp-action="List" class="btn effect01 m-2"><i class="fa-solid fa-clipboard-list"></i> Inventario</a>


    
    <p>Venta de Vehiculos</p>
</div>